@font-face {
    font-family: selfDeception;
    src: url(../fonts/SelfDeceptionRegular-ALLWA.ttf)
}

/*Whole Site*/
html{
    background: #bbbbbb;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;
}

.homeBody{
    background-color: #bbbbbb;
}
/*Nav Bar*/
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navli{
    float: left;
    border-right:1px solid #bbb;
}

.navli:last-child {
    border-right: none;
}

.navli .navA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navli .navA:hover:not(.active) {
    background-color: #111;
}

.navli .navLogout {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 0;
    border-top: 0;
    border-right-color: white;
    border-left-color: white;
}

.navli .navA:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
/*Main Page*/
#logo{
    width: 100%;
    height: 210px;
    overflow: hidden;
}
#tagline{
    text-align: center;
    font-family: "selfDeception";
    font-weight: bold;
    font-size: 54px;
}

/*Login Page*/
#html-login{
    height: 100px;
}
article{
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}
#main-holder {
    width: 50%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: purple;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px black;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

#loginBgClr{
    background-color: #bbbbbb;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0 0 5px 5px;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

/*Products page*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: purple;
}
.card p {
    flex-grow: 1;
}

.imgCard{
    max-width: 80%;
    max-height: 75%;
    display: block;
    flex-wrap: wrap;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-between;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.flexCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #bbbbbb;
}

/*Cart*/

.cartli{
    padding-left: 5px;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.BodGrey{
    background-color: #bbbbbb;
}

/*Cart Page*/
.products-container{
    max-width: 1000px;
    justify-content: space-around;
    margin: 50px auto 0;
    background-color: #bbbbbb;
}

.products-container ion-icon {
    font-size: 25px;
    color: purple;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.product-price{
    width: 15%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}
.product-quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.cost-container{
    margin: 0 auto;
}
.product-subtotal{
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}
.product-tax{
    margin-bottom: 2.2rem;
    text-align: center;
}

.product-total {
    justify-content: center;
    margin-bottom: 2.2rem;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.btnColor{
    color: purple;
}

.priceInCart {

}

.products
{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.products img
{
    width: 75px;
}

.basketSubTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTaxContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketSubTotalTitle{
    width: 30%;
}

.basketSubTotal{
    width: 10%;
}

.basketTaxTitle{
    width: 30%;
}

.basketTax{
    width: 10%;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
}


/*Logout Page*/

.logoutButton #logoutButton{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

/*Checkout Page*/
#checkoutBody{
    background-color: #bbbbbb;
}

.checkoutContainer{
    padding: 0px 50px;
    background-color: #bbbbbb;
}

/*Receipt Page*/
.receiptContainer{
    text-align: center;
}

.fromInfo{
    padding: 0 25px;
    line-height: 10px;
}

.toInfo {
    padding: 0 25px;
    line-height: 10px;
}
.subReceiptContainer{
    width: 35%;
    float: left;
}

.mainReceiptContainer {
    padding: 0px 400px;
}

.receiptProducts{
    display: flex;
    flex-wrap: wrap;
}

#check-out-form-submit {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 50px;
    background-color: purple;
}

#checkOutButton{
    color: #fff;
    background-color: purple;
}

#receiptBody{
    background-color: #bbbbbb;
}

.product-receipt-header{
    width: 100%;
    max-width: 1125px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-receipt-title {
    width: 45%;
}

.product-receipt-price{
    width: 15%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}
.product-receipt-quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}
.product-receipt-subtotal{
    width: 5%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

@media (max-width: 1500px) {
    .mainReceiptContainer {
        padding: 0px 200px;
    }
}

#title{
    text-align: center;
}
.reflection-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 100px;
    size: 22px;
}
.rykerTest
{
    size: 1000px;
}

/*About Us*/

/* Apply styles to the About us section */
.about-section {
    background-color: #bbbbbb;
    padding: 50px 100px;
    font-family: Arial, sans-serif;
    color: #333;
    margin-right: 150px;
    margin-left: 150px;
}

/* Style the header of the About us section */
.about-headers {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6c5ce7;
}

/* Style the paragraph of the About us section */
.aboutUsLines {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

.aboutBanner {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*Contact Us*/
#Contact-Body{
    background-color: #bbbbbb;
}

#contact-form {
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    background-color: #474747;
    color: #fff;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#contact-form textarea {
    height: 330px;
}

#contact-form button[type="submit"] {
    background-color: #9b59b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button[type="submit"]:hover {
    background-color: #8e44ad;
}


@media screen and (max-width: 768px) {
    #contact-form {
        max-width: 600px;
        margin: 0 auto;
    }
    #contact-form textarea {
        height: 250px;
    }
}

#new-section img {
    max-width: 100%;
    height: auto;
}